

{% extends "base.html" %}

{% block title %}Lista de productos{% endblock %}

{% block content%}

    <H1>Lista de productos: </H1>
    {% for product in products %}
    <div class="card" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f7/e7/92/f7e79224e87d3b67d4b3634fc188bab2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">El precio es: ${{product.price}}</p>
          <a href="#" class="btn btn-primary">Ver mas</a>
        </div>
      </div>    
    {%endfor%}
{% endblock%}